In [1]:
import pandas as pd
import os
import sqlite3
os.getcwd()

'C:\\Users\\15024\\stopsDataLMPD100'

In [2]:
os.path.isfile('stopsData100.csv')

True

In [3]:
df1 = pd.read_csv("stopsData100.csv")
print(df1)

       ID                  TYPE_OF_STOP CITATION_CONTROL_NUMBER  \
0   13891             TRAFFIC VIOLATION                     NaN
1    1189  COMPLAINT/CRIMINAL VIOLATION                 N393240
2   18459             TRAFFIC VIOLATION                       0
3   18568             TRAFFIC VIOLATION                       0
4   18569             TRAFFIC VIOLATION                       0
5   19056             TRAFFIC VIOLATION                       0
6   19777             TRAFFIC VIOLATION                       0
7   19778             TRAFFIC VIOLATION                       0
8   20835             TRAFFIC VIOLATION                       0
9   21519             TRAFFIC VIOLATION                       0
10  21520             TRAFFIC VIOLATION                       0
11  21521             TRAFFIC VIOLATION                       0
12  24405             TRAFFIC VIOLATION                       0
13  24406             TRAFFIC VIOLATION                       0
14  24407             TRAFFIC VIOLATION                       0
15  24408             TRAFFIC VIOLATION                       0
16  24409             TRAFFIC VIOLATION                       0
17  28334             TRAFFIC VIOLATION                       0
18  36874             TRAFFIC VIOLATION                 N867160
19  37097             TRAFFIC VIOLATION                 P180364
20  18458             TRAFFIC VIOLATION                       0
21  19055             TRAFFIC VIOLATION                       0
22  19774             TRAFFIC VIOLATION                       0
23  19775             TRAFFIC VIOLATION                       0
24  19776             TRAFFIC VIOLATION                       0
25  20833             TRAFFIC VIOLATION                       0
26  20834             TRAFFIC VIOLATION                       0
27  21508             TRAFFIC VIOLATION                       0
28  21509             TRAFFIC VIOLATION                       0
29  21510             TRAFFIC VIOLATION                       0
30  21511             TRAFFIC VIOLATION                       0
31  21512             TRAFFIC VIOLATION                       0
32  21513             TRAFFIC VIOLATION                       0
33  21514             TRAFFIC VIOLATION                       0
34  24394             TRAFFIC VIOLATION                       0
35  24395             TRAFFIC VIOLATION                       0
36  24396             TRAFFIC VIOLATION                       0
37  24397             TRAFFIC VIOLATION                       0
38  24398             TRAFFIC VIOLATION                       0
39  26926             TRAFFIC VIOLATION                       0
40  28330             TRAFFIC VIOLATION                       0
41  36889             TRAFFIC VIOLATION                 N870205
42  36893             TRAFFIC VIOLATION                 N870908
43  36941             TRAFFIC VIOLATION                     NaN
44  44154             TRAFFIC VIOLATION            CT53091
45  49817             TRAFFIC VIOLATION            CM56563
46  53540             TRAFFIC VIOLATION            CT53092
47  55605             TRAFFIC VIOLATION            CT73476
48  56528             TRAFFIC VIOLATION            CT73475

   ACTIVITY RESULTS OFFICER_GENDER OFFICER_RACE OFFICER_AGE_RANGE  \
0           WARNING              M        WHITE           31 - 40
1   CITATION ISSUED              M        WHITE           40 - 50
2           WARNING              F        BLACK           31 - 40
3           WARNING              F        WHITE           21 - 30
4           WARNING              F        WHITE           21 - 30
5           WARNING              F        WHITE           31 - 40
6           WARNING              M        BLACK           21 - 30
7           WARNING              M        BLACK           21 - 30
8           WARNING              M     HISPANIC           21 - 30
9           WARNING              M        WHITE           21 - 30
10          WARNING              M        WHITE           21 - 30
11          WARNING              M        WHITE           21 - 30
12          WARNING              M        WHITE           31 - 40
13          WARNING              M        WHITE           31 - 40
14          WARNING              M        WHITE           31 - 40
15          WARNING              M        WHITE           31 - 40
16          WARNING              M        WHITE           31 - 40
17          WARNING              M        WHITE           50 - 60
18  CITATION ISSUED              M        BLACK           31 - 40
19          WARNING              M        WHITE           21 - 30
20          WARNING              F        BLACK           31 - 40
21          WARNING              F        WHITE           31 - 40
22          WARNING              M        BLACK           21 - 30
23          WARNING              M        BLACK           21 - 30
24          WARNING              M        BLACK           21 - 30
25          WARNING              M     HISPANIC           21 - 30
26          WARNING              M     HISPANIC           21 - 30
27          WARNING              M        WHITE           21 - 30
28          WARNING              M        WHITE           21 - 30
29          WARNING              M        WHITE           21 - 30
30          WARNING              M        WHITE           21 - 30
31          WARNING              M        WHITE           21 - 30
32          WARNING              M        WHITE           21 - 30
33          WARNING              M        WHITE           21 - 30
34          WARNING              M        WHITE           31 - 40
35          WARNING              M        WHITE           31 - 40
36          WARNING              M        WHITE           31 - 40
37          WARNING              M        WHITE           31 - 40
38          WARNING              M        WHITE           31 - 40
39          WARNING              M        WHITE           40 - 50
40          WARNING              M        WHITE           50 - 60
41  CITATION ISSUED              M        WHITE           21 - 30
42  CITATION ISSUED              F        WHITE           31 - 40
43          WARNING              M        WHITE           21 - 30
44  CITATION ISSUED              M        WHITE           40 - 50
45  CITATION ISSUED              M        BLACK           31 - 40
46  CITATION ISSUED              M        WHITE           40 - 50
47  CITATION ISSUED              M        WHITE           40 - 50
48  CITATION ISSUED              M        WHITE           40 - 50

         ACTIVITY_DATE                                  ACTIVITY_LOCATION  \
0   9/27/2025 17:34:00                                      CLAY/ MADISON
1    1/28/2018 3:00:00                                      BROADRUN PARK
2   1/28/2018 11:21:00                               S SHELBY AND LYNN ST
3    1/28/2018 1:28:00                               I265N// LA GRANGE RD
4   1/28/2018 22:57:00                SHEBLYVILLR RD// OLD SHELBYVILLE RD
5    1/28/2018 1:46:00                           BARRET AVE / CHRISTY AVE
6    1/28/2018 0:20:00                              CANE RUN AND CRUMS LN
7    1/28/2018 2:10:00                                 DIXIE AND VORESTER
8   1/28/2018 11:00:00                                HIKES AND BARDSTOWN
9   1/28/2018 14:49:00                                     5200 BLK DIXIE
10  1/28/2018 15:40:00               NATIONAL TPKE AND NEIGHBORHOOD PLACE
11  1/28/2018 22:35:00                                 PRESTON/OUTER LOOP
12   1/28/2018 0:31:00                                  PRESTON/BLUE LICK
13  1/28/2018 13:40:00                                    100 BLK N. 42ND
14  1/28/2018 15:30:00                                        1353 S 20TH
15  1/28/2018 17:00:00                                  DIXIE / ALGONQUIN
16  1/28/2018 22:21:00                         NOLTEMEYER WYNDE/BEECHVIEW
17  1/28/2018 23:30:00                                  DIXIE AND BARRETT
18  1/28/2018 21:36:00                                 2500 WEST BROADWAY
19   1/28/2018 9:30:00                                  900 B ELLISON AVE
20  1/27/2018 16:20:00                                  1060 HIGHLAND AVE
21  1/27/2018 21:33:00                        LEXINGTON RD / FAIRLAWN AVE
22  1/27/2018 22:36:00                                  S 36TH AND COLMAR
23  1/27/2018 23:00:00                              15TH AND BRECKENRIDGE
24  1/27/2018 23:40:00                                    MARKET AND 39TH
25   1/27/2018 9:25:00                                    11TH / BROADWAY
26  1/27/2018 10:20:00                                     11TH / MAIN ST
27   1/27/2018 3:46:00                         EASTERN PARKWAY/BAXTER AVE
28   1/27/2018 9:27:00                     BECKLEY WOODS/ BECKLEY VILLAGE
29  1/27/2018 10:35:00                                          26TH/ ALI
30  1/27/2018 11:08:00                                   BARRET AND RUBEL
31  1/27/2018 21:28:00                                   MARKET AND FLOYD
32  1/27/2018 21:45:00                                      BERRY/WHEELER
33  1/27/2018 22:52:00                                       BERRY/POWELL
34   1/27/2018 0:18:00                                    DIXIE AND W OAK
35   1/27/2018 1:31:00                     PRESTON CROSSING/COOPER CHAPEL
36   1/27/2018 3:11:00                                  BLUE LICK/FOREMAN
37   1/27/2018 3:30:00                         OUTER LOOP/ JEFFERSON BLVD
38  1/27/2018 23:07:00                                   3030 TAYLOR BLVD
39  1/27/2018 19:01:00                              9900 BUCKINGHAM DRIVE
40   1/27/2018 0:45:00                           DEERING RD AND SENNRIDGE
41   1/27/2018 3:41:00                               DR WJ HODGE/CHESTNUT
42   1/27/2018 9:03:00                                2815 FERN VALLEY RD
43  1/27/2018 22:33:00                           E MARKET ST @ S FLOYD ST
44   1/27/2018 0:22:00  I 0065 N 130                                  ...
45   1/27/2018 9:29:00  BROWNSBORO RD                                 ...
46   1/27/2018 0:30:00  I 0065 N 131                                  ...
47   1/27/2018 0:47:00  SHELBYVILLE RD 4000 BLK                       ...
48   1/27/2018 0:36:00  SHELBYVILLE RD/ST MATTHEWS AVE                ...

   ACTIVITY_DIVISION ACTIVITY_BEAT DRIVER_GENDER             DRIVER_RACE  \
0       1ST DIVISION        BEAT 5             F                   WHITE
1       7TH DIVISION        BEAT 2             M                HISPANIC
2       4TH DIVISION        BEAT 2             M                   WHITE
3       8TH DIVISION        BEAT 4             F                   WHITE
4       8TH DIVISION        BEAT 4             F                   WHITE
5       5TH DIVISION        BEAT 2             M                   BLACK
6       2ND DIVISION        BEAT 6             M                   BLACK
7       2ND DIVISION        BEAT 6             F                   BLACK
8       6TH DIVISION        BEAT 4             M                   BLACK
9       3RD DIVISION        BEAT 1             F                   BLACK
10      3RD DIVISION        BEAT 3             M                   WHITE
11      7TH DIVISION        BEAT 6             F                   BLACK
12      7TH DIVISION        BEAT 6             M  MIDDLE EASTERN DESCENT
13      2ND DIVISION        BEAT 1             M                   BLACK
14      2ND DIVISION        BEAT 5             M                   BLACK
15      2ND DIVISION        BEAT 5             M                   WHITE
16      7TH DIVISION        BEAT 6             M                   BLACK
17      3RD DIVISION        BEAT 5             M                   BLACK
18      1ST DIVISION        BEAT 2             F                   WHITE
19      4TH DIVISION        BEAT 2             F                   WHITE
20      4TH DIVISION        BEAT 2             M                   WHITE
21      5TH DIVISION        BEAT 5             M                   WHITE
22      2ND DIVISION        BEAT 2             M                   BLACK
23      2ND DIVISION        BEAT 6             F                   BLACK
24      2ND DIVISION        BEAT 1             F                   BLACK
25      1ST DIVISION        BEAT 3             M                   BLACK
26      1ST DIVISION        BEAT 3             M                   WHITE
27      5TH DIVISION        BEAT 2             M                   WHITE
28      8TH DIVISION        BEAT 4             M                   WHITE
29      1ST DIVISION        BEAT 2             F                   BLACK
30      5TH DIVISION        BEAT 2             M                   WHITE
31      1ST DIVISION        BEAT 4             F                   WHITE
32      4TH DIVISION        BEAT 3             F                   BLACK
33      4TH DIVISION        BEAT 3             M                   WHITE
34      2ND DIVISION        BEAT 3             F                   BLACK
35      7TH DIVISION        BEAT 4             F                   BLACK
36      7TH DIVISION        BEAT 6             M                   BLACK
37      7TH DIVISION        BEAT 5             F                   BLACK
38      4TH DIVISION        BEAT 4             M                   WHITE
39      3RD DIVISION        BEAT 3             M                   WHITE
40      3RD DIVISION        BEAT 4             M                   BLACK
41      1ST DIVISION        BEAT 2             M                   BLACK
42      7TH DIVISION        BEAT 6             M                   BLACK
43      1ST DIVISION        BEAT 4             F                   WHITE
44      4TH DIVISION        BEAT 4             M                   WHITE
45      5TH DIVISION        BEAT 5             M                   WHITE
46      4TH DIVISION        BEAT 4             M                   WHITE
47                                             M                HISPANIC
48                                             M                   WHITE

   DRIVER_AGE_RANGE  NUMBER OF PASSENGERS WAS_VEHCILE_SEARCHED  \
0           26 - 30                     0                   NO
1           16 - 19                     3                  YES
2           31 - 40                     0                   NO
3           31 - 40                     1                   NO
4           20 - 25                     1                   NO
5           41 - 50                     0                   NO
6           41 - 50                     2                   NO
7           41 - 50                     1                   NO
8           41 - 50                     0                   NO
9           20 - 25                     1                   NO
10          31 - 40                     3                   NO
11          20 - 25                     1                   NO
12          26 - 30                     0                   NO
13          20 - 25                     1                   NO
14          26 - 30                     0                  YES
15          16 - 19                     3                   NO
16          41 - 50                     0                   NO
17          26 - 30                     0                   NO
18          31 - 40                     2                  YES
19          31 - 40                     0                   NO
20          31 - 40                     0                   NO
21          31 - 40                     1                   NO
22          51 - 60                     1                   NO
23          20 - 25                     2                   NO
24          20 - 25                     0                   NO
25          20 - 25                     0                   NO
26          26 - 30                     0                   NO
27          20 - 25                     1                  YES
28          26 - 30                     0                   NO
29          41 - 50                     0                   NO
30          20 - 25                     0                   NO
31          16 - 19                     3                   NO
32          20 - 25                     2                  YES
33          41 - 50                     1                   NO
34          31 - 40                     1                   NO
35          26 - 30                     0                   NO
36          20 - 25                     0                  YES
37          20 - 25                     1                   NO
38          20 - 25                     1                   NO
39          31 - 40                     0                  YES
40          41 - 50                     1                   NO
41          26 - 30                     0                   NO
42          26 - 30                     0                  YES
43          16 - 19                     0                   NO
44          31 - 40                     0                   NO
45          41 - 50                     1                   NO
46          26 - 30                     0                   NO
47          41 - 50                     0                   NO
48          41 - 50                     0                   NO

   REASON_FOR_SEARCH
0                NaN
1            CONSENT
2                NaN
3                NaN
4                NaN
5                NaN
6                NaN
7                NaN
8                NaN
9                NaN
10               NaN
11               NaN
12               NaN
13               NaN
14    PROBABLE CAUSE
15               NaN
16               NaN
17           CONSENT
18    PROBABLE CAUSE
19               NaN
20               NaN
21               NaN
22               NaN
23               NaN
24               NaN
25               NaN
26               NaN
27           CONSENT
28               NaN
29               NaN
30               NaN
31               NaN
32           CONSENT
33               NaN
34               NaN
35               NaN
36    PROBABLE CAUSE
37               NaN
38               NaN
39    PROBABLE CAUSE
40               NaN
41               NaN
42    PROBABLE CAUSE
43               NaN
44               NaN
45               NaN
46               NaN
47               NaN
48               NaN

In [4]:
#create sqlite db
db = sqlite3.connect("stops_data.db")

#convert pandas DF to sql table
df1.to_sql("stops_data", db, if_exists="replace")

#view DF
def run_query(query):
    return pd.read_sql_query(query,db)

C:\Users\15024\Anaconda3\lib\site-packages\pandas\core\generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [5]:
query = "select * from stops_data;"
run_query(query)

,index,ID,TYPE_OF_STOP,CITATION_CONTROL_NUMBER,ACTIVITY RESULTS,OFFICER_GENDER,OFFICER_RACE,OFFICER_AGE_RANGE,ACTIVITY_DATE,ACTIVITY_LOCATION,ACTIVITY_DIVISION,ACTIVITY_BEAT,DRIVER_GENDER,DRIVER_RACE,DRIVER_AGE_RANGE,NUMBER OF PASSENGERS,WAS_VEHCILE_SEARCHED,REASON_FOR_SEARCH
0,0,13891,TRAFFIC VIOLATION,None,WARNING,M,WHITE,31 - 40,9/27/2025 17:34:00,CLAY/ MADISON,1ST DIVISION,BEAT 5,F,WHITE,26 - 30,0,NO,None
1,1,1189,COMPLAINT/CRIMINAL VIOLATION,N393240,CITATION ISSUED,M,WHITE,40 - 50,1/28/2018 3:00:00,BROADRUN PARK,7TH DIVISION,BEAT 2,M,HISPANIC,16 - 19,3,YES,CONSENT
2,2,18459,TRAFFIC VIOLATION,0,WARNING,F,BLACK,31 - 40,1/28/2018 11:21:00,S SHELBY AND LYNN ST,4TH DIVISION,BEAT 2,M,WHITE,31 - 40,0,NO,None
3,3,18568,TRAFFIC VIOLATION,0,WARNING,F,WHITE,21 - 30,1/28/2018 1:28:00,I265N// LA GRANGE RD,8TH DIVISION,BEAT 4,F,WHITE,31 - 40,1,NO,None
4,4,18569,TRAFFIC VIOLATION,0,WARNING,F,WHITE,21 - 30,1/28/2018 22:57:00,SHEBLYVILLR RD// OLD SHELBYVILLE RD,8TH DIVISION,BEAT 4,F,WHITE,20 - 25,1,NO,None
5,5,19056,TRAFFIC VIOLATION,0,WARNING,F,WHITE,31 - 40,1/28/2018 1:46:00,BARRET AVE / CHRISTY AVE,5TH DIVISION,BEAT 2,M,BLACK,41 - 50,0,NO,None
6,6,19777,TRAFFIC VIOLATION,0,WARNING,M,BLACK,21 - 30,1/28/2018 0:20:00,CANE RUN AND CRUMS LN,2ND DIVISION,BEAT 6,M,BLACK,41 - 50,2,NO,None
7,7,19778,TRAFFIC VIOLATION,0,WARNING,M,BLACK,21 - 30,1/28/2018 2:10:00,DIXIE AND VORESTER,2ND DIVISION,BEAT 6,F,BLACK,41 - 50,1,NO,None
8,8,20835,TRAFFIC VIOLATION,0,WARNING,M,HISPANIC,21 - 30,1/28/2018 11:00:00,HIKES AND BARDSTOWN,6TH DIVISION,BEAT 4,M,BLACK,41 - 50,0,NO,None
9,9,21519,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/28/2018 14:49:00,5200 BLK DIXIE,3RD DIVISION,BEAT 1,F,BLACK,20 - 25,1,NO,None
10,10,21520,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/28/2018 15:40:00,NATIONAL TPKE AND NEIGHBORHOOD PLACE,3RD DIVISION,BEAT 3,M,WHITE,31 - 40,3,NO,None
11,11,21521,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/28/2018 22:35:00,PRESTON/OUTER LOOP,7TH DIVISION,BEAT 6,F,BLACK,20 - 25,1,NO,None
12,12,24405,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/28/2018 0:31:00,PRESTON/BLUE LICK,7TH DIVISION,BEAT 6,M,MIDDLE EASTERN DESCENT,26 - 30,0,NO,None
13,13,24406,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/28/2018 13:40:00,100 BLK N. 42ND,2ND DIVISION,BEAT 1,M,BLACK,20 - 25,1,NO,None
14,14,24407,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/28/2018 15:30:00,1353 S 20TH,2ND DIVISION,BEAT 5,M,BLACK,26 - 30,0,YES,PROBABLE CAUSE
15,15,24408,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/28/2018 17:00:00,DIXIE / ALGONQUIN,2ND DIVISION,BEAT 5,M,WHITE,16 - 19,3,NO,None
16,16,24409,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/28/2018 22:21:00,NOLTEMEYER WYNDE/BEECHVIEW,7TH DIVISION,BEAT 6,M,BLACK,41 - 50,0,NO,None
17,17,28334,TRAFFIC VIOLATION,0,WARNING,M,WHITE,50 - 60,1/28/2018 23:30:00,DIXIE AND BARRETT,3RD DIVISION,BEAT 5,M,BLACK,26 - 30,0,NO,CONSENT
18,18,36874,TRAFFIC VIOLATION,N867160,CITATION ISSUED,M,BLACK,31 - 40,1/28/2018 21:36:00,2500 WEST BROADWAY,1ST DIVISION,BEAT 2,F,WHITE,31 - 40,2,YES,PROBABLE CAUSE
19,19,37097,TRAFFIC VIOLATION,P180364,WARNING,M,WHITE,21 - 30,1/28/2018 9:30:00,900 B ELLISON AVE,4TH DIVISION,BEAT 2,F,WHITE,31 - 40,0,NO,None
20,20,18458,TRAFFIC VIOLATION,0,WARNING,F,BLACK,31 - 40,1/27/2018 16:20:00,1060 HIGHLAND AVE,4TH DIVISION,BEAT 2,M,WHITE,31 - 40,0,NO,None
21,21,19055,TRAFFIC VIOLATION,0,WARNING,F,WHITE,31 - 40,1/27/2018 21:33:00,LEXINGTON RD / FAIRLAWN AVE,5TH DIVISION,BEAT 5,M,WHITE,31 - 40,1,NO,None
22,22,19774,TRAFFIC VIOLATION,0,WARNING,M,BLACK,21 - 30,1/27/2018 22:36:00,S 36TH AND COLMAR,2ND DIVISION,BEAT 2,M,BLACK,51 - 60,1,NO,None
23,23,19775,TRAFFIC VIOLATION,0,WARNING,M,BLACK,21 - 30,1/27/2018 23:00:00,15TH AND BRECKENRIDGE,2ND DIVISION,BEAT 6,F,BLACK,20 - 25,2,NO,None
24,24,19776,TRAFFIC VIOLATION,0,WARNING,M,BLACK,21 - 30,1/27/2018 23:40:00,MARKET AND 39TH,2ND DIVISION,BEAT 1,F,BLACK,20 - 25,0,NO,None
25,25,20833,TRAFFIC VIOLATION,0,WARNING,M,HISPANIC,21 - 30,1/27/2018 9:25:00,11TH / BROADWAY,1ST DIVISION,BEAT 3,M,BLACK,20 - 25,0,NO,None
26,26,20834,TRAFFIC VIOLATION,0,WARNING,M,HISPANIC,21 - 30,1/27/2018 10:20:00,11TH / MAIN ST,1ST DIVISION,BEAT 3,M,WHITE,26 - 30,0,NO,None
27,27,21508,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 3:46:00,EASTERN PARKWAY/BAXTER AVE,5TH DIVISION,BEAT 2,M,WHITE,20 - 25,1,YES,CONSENT
28,28,21509,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 9:27:00,BECKLEY WOODS/ BECKLEY VILLAGE,8TH DIVISION,BEAT 4,M,WHITE,26 - 30,0,NO,None
29,29,21510,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 10:35:00,26TH/ ALI,1ST DIVISION,BEAT 2,F,BLACK,41 - 50,0,NO,None
30,30,21511,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 11:08:00,BARRET AND RUBEL,5TH DIVISION,BEAT 2,M,WHITE,20 - 25,0,NO,None
31,31,21512,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 21:28:00,MARKET AND FLOYD,1ST DIVISION,BEAT 4,F,WHITE,16 - 19,3,NO,None
32,32,21513,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 21:45:00,BERRY/WHEELER,4TH DIVISION,BEAT 3,F,BLACK,20 - 25,2,YES,CONSENT
33,33,21514,TRAFFIC VIOLATION,0,WARNING,M,WHITE,21 - 30,1/27/2018 22:52:00,BERRY/POWELL,4TH DIVISION,BEAT 3,M,WHITE,41 - 50,1,NO,None
34,34,24394,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/27/2018 0:18:00,DIXIE AND W OAK,2ND DIVISION,BEAT 3,F,BLACK,31 - 40,1,NO,None
35,35,24395,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/27/2018 1:31:00,PRESTON CROSSING/COOPER CHAPEL,7TH DIVISION,BEAT 4,F,BLACK,26 - 30,0,NO,None
36,36,24396,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/27/2018 3:11:00,BLUE LICK/FOREMAN,7TH DIVISION,BEAT 6,M,BLACK,20 - 25,0,YES,PROBABLE CAUSE
37,37,24397,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/27/2018 3:30:00,OUTER LOOP/ JEFFERSON BLVD,7TH DIVISION,BEAT 5,F,BLACK,20 - 25,1,NO,None
38,38,24398,TRAFFIC VIOLATION,0,WARNING,M,WHITE,31 - 40,1/27/2018 23:07:00,3030 TAYLOR BLVD,4TH DIVISION,BEAT 4,M,WHITE,20 - 25,1,NO,None
39,39,26926,TRAFFIC VIOLATION,0,WARNING,M,WHITE,40 - 50,1/27/2018 19:01:00,9900 BUCKINGHAM DRIVE,3RD DIVISION,BEAT 3,M,WHITE,31 - 40,0,YES,PROBABLE CAUSE
40,40,28330,TRAFFIC VIOLATION,0,WARNING,M,WHITE,50 - 60,1/27/2018 0:45:00,DEERING RD AND SENNRIDGE,3RD DIVISION,BEAT 4,M,BLACK,41 - 50,1,NO,None
41,41,36889,TRAFFIC VIOLATION,N870205,CITATION ISSUED,M,WHITE,21 - 30,1/27/2018 3:41:00,DR WJ HODGE/CHESTNUT,1ST DIVISION,BEAT 2,M,BLACK,26 - 30,0,NO,None
42,42,36893,TRAFFIC VIOLATION,N870908,CITATION ISSUED,F,WHITE,31 - 40,1/27/2018 9:03:00,2815 FERN VALLEY RD,7TH DIVISION,BEAT 6,M,BLACK,26 - 30,0,YES,PROBABLE CAUSE
43,43,36941,TRAFFIC VIOLATION,None,WARNING,M,WHITE,21 - 30,1/27/2018 22:33:00,E MARKET ST @ S FLOYD ST,1ST DIVISION,BEAT 4,F,WHITE,16 - 19,0,NO,None
44,44,44154,TRAFFIC VIOLATION,CT53091,CITATION ISSUED,M,WHITE,40 - 50,1/27/2018 0:22:00,I 0065 N 130 ...,4TH DIVISION,BEAT 4,M,WHITE,31 - 40,0,NO,None
45,45,49817,TRAFFIC VIOLATION,CM56563,CITATION ISSUED,M,BLACK,31 - 40,1/27/2018 9:29:00,BROWNSBORO RD ...,5TH DIVISION,BEAT 5,M,WHITE,41 - 50,1,NO,None
46,46,53540,TRAFFIC VIOLATION,CT53092,CITATION ISSUED,M,WHITE,40 - 50,1/27/2018 0:30:00,I 0065 N 131 ...,4TH DIVISION,BEAT 4,M,WHITE,26 - 30,0,NO,None
47,47,55605,TRAFFIC VIOLATION,CT73476,CITATION ISSUED,M,WHITE,40 - 50,1/27/2018 0:47:00,SHELBYVILLE RD 4000 BLK ...,,,M,HISPANIC,41 - 50,0,NO,None
48,48,56528,TRAFFIC VIOLATION,CT73475,CITATION ISSUED,M,WHITE,40 - 50,1/27/2018 0:36:00,SHELBYVILLE RD/ST MATTHEWS AVE ...,,,M,WHITE,41 - 50,0,NO,None

In [6]:
# get information about my staging table 
query_table_help = """
SELECT name , *FROM PRAGMA_TABLE_INFO('stops_data');
"""
run_query(query_table_help)

,name,cid,name,type,notnull,dflt_value,pk
0,index,0,index,INTEGER,0,None,0
1,ID,1,ID,INTEGER,0,None,0
2,TYPE_OF_STOP,2,TYPE_OF_STOP,TEXT,0,None,0
3,CITATION_CONTROL_NUMBER,3,CITATION_CONTROL_NUMBER,TEXT,0,None,0
4,ACTIVITY RESULTS,4,ACTIVITY RESULTS,TEXT,0,None,0
5,OFFICER_GENDER,5,OFFICER_GENDER,TEXT,0,None,0
6,OFFICER_RACE,6,OFFICER_RACE,TEXT,0,None,0
7,OFFICER_AGE_RANGE,7,OFFICER_AGE_RANGE,TEXT,0,None,0
8,ACTIVITY_DATE,8,ACTIVITY_DATE,TEXT,0,None,0
9,ACTIVITY_LOCATION,9,ACTIVITY_LOCATION,TEXT,0,None,0
10,ACTIVITY_DIVISION,10,ACTIVITY_DIVISION,TEXT,0,None,0
11,ACTIVITY_BEAT,11,ACTIVITY_BEAT,TEXT,0,None,0
12,DRIVER_GENDER,12,DRIVER_GENDER,TEXT,0,None,0
13,DRIVER_RACE,13,DRIVER_RACE,TEXT,0,None,0
14,DRIVER_AGE_RANGE,14,DRIVER_AGE_RANGE,TEXT,0,None,0
15,NUMBER OF PASSENGERS,15,NUMBER OF PASSENGERS,INTEGER,0,None,0
16,WAS_VEHCILE_SEARCHED,16,WAS_VEHCILE_SEARCHED,TEXT,0,None,0
17,REASON_FOR_SEARCH,17,REASON_FOR_SEARCH,TEXT,0,None,0

In [22]:
#run_query('''update stops_data set "ACTIVITY_DATE " = '9/27/2018' ''')
#run_query('''SELECT id, '['||(TRIM("ACTIVITY_DATE "))||']' from stops_data''')
##STILL WORKING ON THIS BUT I DIDN'T WANT TO FORGET WHAT I WAS READING

In [8]:
query = """
SELECT * 
FROM sqlite_master
ORDER BY name;
"""
run_query(query)

,type,name,tbl_name,rootpage,sql
0,index,ix_stops_data_index,stops_data,3,"CREATE INDEX ""ix_stops_data_index""ON ""stops_da..."
1,table,stops_data,stops_data,2,"CREATE TABLE ""stops_data"" (\n""index"" INTEGER,\..."

In [9]:
#create incident counts per division

query_map = """
SELECT 
ACTIVITY_DIVISION
,count(*) as "Incidents"
from stops_data
group by ACTIVITY_DIVISION
order by "ACTIVITY_DIVISION" asc;

"""
run_query(query_map)

  ACTIVITY_DIVISION  Incidents
0                            2
1      1ST DIVISION          8
2      2ND DIVISION          9
3      3RD DIVISION          5
4      4TH DIVISION          8
5      5TH DIVISION          5
6      6TH DIVISION          1
7      7TH DIVISION          8
8      8TH DIVISION          3

In [10]:
query_race = """
SELECT 
DRIVER_RACE
,count(*) as "Incidents"
from stops_data
group by ACTIVITY_DIVISION
order by "ACTIVITY_DIVISION" asc;

"""
run_query(query_race)

  DRIVER_RACE  Incidents
0    HISPANIC          2
1       WHITE          8
2       BLACK          9
3       BLACK          5
4       WHITE          8
5       BLACK          5
6       BLACK          1
7    HISPANIC          8
8       WHITE          3

In [11]:
query_gender = """
SELECT 
DRIVER_GENDER
,count(*) as "Incidents"
from stops_data
group by ACTIVITY_DIVISION
order by "ACTIVITY_DIVISION" asc;

"""
run_query(query_gender)

  DRIVER_GENDER  Incidents
0             M          2
1             F          8
2             M          9
3             F          5
4             M          8
5             M          5
6             M          1
7             M          8
8             F          3

In [12]:
query_driver_age = """
SELECT 
DRIVER_AGE_RANGE
,count(*) as "Incidents"
from stops_data
group by ACTIVITY_DIVISION
order by "ACTIVITY_DIVISION" asc;

"""
run_query(query_driver_age)

  DRIVER_AGE_RANGE  Incidents
0          41 - 50          2
1          26 - 30          8
2          41 - 50          9
3          20 - 25          5
4          31 - 40          8
5          41 - 50          5
6          41 - 50          1
7          16 - 19          8
8          31 - 40          3

In [13]:
query_driver_race2 = """
SELECT 
DRIVER_RACE
,count(*) as "Incidents"
from stops_data
group by DRIVER_RACE
order by "DRIVER_RACE" asc;

"""
run_query(query_driver_race2)

              DRIVER_RACE  Incidents
0                   BLACK         23
1                HISPANIC          2
2  MIDDLE EASTERN DESCENT          1
3                   WHITE         23

In [14]:
query_driver_demo = """
SELECT 
DRIVER_GENDER as "Gender", DRIVER_RACE as "Race", DRIVER_AGE_RANGE as "Age Range"
,count(*) as "Incidents"
from stops_data
group by DRIVER_AGE_RANGE
order by "DRIVER_AGE_RANGE";

"""
run_query(query_driver_demo)

  Gender      Race Age Range  Incidents
0      M  HISPANIC   16 - 19          4
1      F     WHITE   20 - 25         13
2      F     WHITE   26 - 30         10
3      M     WHITE   31 - 40         10
4      M     BLACK   41 - 50         11
5      M     BLACK   51 - 60          1